body{
    background: url("img/coffe-bg.jpg") no-repeat;
    background-size: cover;
}
h1,h2,h3,h4,h5,label{
    font-family: 'Caveat Brush', cursive;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}
h1{
    font-size: 4em;
}
label{
    font-size: 1.2em;
}
.active{
    transform: translate(44.7vw,0) rotate(360deg);
}
.text-muted {
    color: #88c3f7!important;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4) !important;
}

#btn{
    height: 75px;
    width: 75px;
    background: url("img/bean.png");
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6px;
    color: #ffffff;
    z-index: 1000;
    position: relative;
    transition-duration: 3s;
    -webkit-filter: drop-shadow(5px 5px 5px #f8f8ffb3);
    filter: drop-shadow(5px 5px 5px #f8f8ffb3);
}

#cartButton{
    background: url("img/cart.png");
    background-size: cover;
    height: 75px;
    width: 75px;
}
#cartButton:hover{
    cursor: pointer;
}
#coffees{
    margin: 0 auto;
}

/*tile flash animation*/
#c {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: #ffffff;
}

#o{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    color: #ffffff;
}

#f{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    color: #ffffff;
}

#f2{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    color: #ffffff;
}

#e{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    color: #ffffff;
}

#e2{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
    color: #ffffff;
}

#special{
    animation-name: flash;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    color: #ffffff;
}

@keyframes flash{
    from{color: #ffffff;}
    to{color:#88c3f7}
}
/*end flash animation*/

/*media queries*/
@media only screen and (min-width: 600px) {
    body{
        background: url("img/coffe-bg.jpg") no-repeat fixed center;
        background-size: 100vw 100vh;
    }
}